<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="text-center">
    <form class="ui form">
      <div class="field">
        <h1>Please enter an e-mail address:</h1>
        <div ng-show="taken" class="ui negative message">
          <div class="header">
            This e-mail is already in use.
          </div>
          <p>Please enter another one.</p>
        </div>
        <input type="text" ng-model="email" placeholder="E-mail">
      </div>
      <button ng-click="addParticipant()" class="ui basic secondary button">Start</button>

    </form>

  </div>
</div>
