<div class="container text-center">
  <br>
  <br>
  <br>
  <button ui-sref="scoreboard({mode: thisMode})" class="huge ui button">Go to scoreboard<i class="arrow right icon"></i></button>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="text-center">
    <form class="ui form">
      <div class="field">
        <h1>Please enter a name:</h1>
        <div ng-show="taken" class="ui negative message">
          <div class="header">
            This name is in use.
          </div>
          <p>Please enter another one.</p>
        </div>
        <input type="text" ng-model="email" placeholder="Name">
      </div>
      <button ng-click="addParticipant()" class="ui basic secondary button">Start</button>
    </form>
  </div>
</div>
